language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
# command to install dependencies
install:
  - pip install -U pip
  - pip install .[test]

# command to run tests
script:
    - py.test -v panedr
