name: Build and upload to PyPI

on:
  pull_request:
    branches:
      - "master"
  push:
    branches:
      - "master"
    tags:
      - "*"
  release:
    types:
      - published


concurrency:
  group: "${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}"
  cancel-in-progress: true


defaults:
  run:
    shell: bash -l {0}


jobs:
  build_wheels:
    environment: deploy
    if: "github.repository == 'MDAnalysis/panedr'"
    name: Build pure Python wheel
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: setup_miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.8
          auto-update-conda: true
          add-pip-as-python-dependency: true
          architecture: x64

      - name: install_and_build_pyedr
        run: |
          cd pyedr && python -m pip install build
          python -m build --sdist --wheel --outdir ../dist/

      - name: install_and_build_panedr
        run: |
          cd panedr && python -m pip install build
          python -m build --sdist --wheel --outdir ../dist/

      - name: publish_pypi
        if: github.event_name == 'release' && github.event.action == 'published'
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
